 <div class="container-fluid profile">
  
      <h3 class="text-center" style="padding:5%;">User Profile</h3>
  
      
  
      <table class="table table-bordered">
        <tr class="bg-secondary text-center">
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>State</th>
            <th>Country</th>
            <th>Address</th>
            <th>Tags</th>
            <th>Edit</th>
            <th>Delete</th>
            
        </tr>
        <tr *ngFor="let d of data">
            <td>{{d.fname}}</td>
            <td>{{d.lname}}</td>
            <td>{{d.email}}</td>
            <td>{{d.age}}</td>
            <td>{{d.state}}</td>
            <td>{{d.country}}</td>
            <td>{{d.address}}</td>
            <td>{{d.Tags}}</td>
            <td>
                <button type="button" (click)="update(d)" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
            </td>
            <td>
                <button type="button" (click)="delete(d)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
  
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" *ngFor="let d of data" >{{d.fname}} {{d.lname}}</h5>
        <p class="card-text" *ngFor="let d of data">
          I'm {{d.fname}} {{d.lname}} and above 20 years and you can sent your emails to {{d.email}} . I live in the State of {{d.state}}
          . like to play {{d.Tags}}. Please reach out my number.
        </p>
        <a href="#" class="btn btn-primary">EDIT PHOTO</a>&nbsp;
        <a href="#" class="btn btn-primary">EDIT Profile</a>
      </div>
    </div>
  
    </div>
